<div id="board_entry", class="panel", selected="true">
  <div class="header">
    <h1><%=h entry.category %> <%=h entry.title %></h1>
    <span class="date"><%=h entry.diary_date %></span><span class="author"><%=h entry.diary_author %></span>
  </div>
  <div class="contents">
    <%= show_contents entry %>
  </div>
</div>

<div id="board_entry_comments">
<% entry.root_comments.each do |comment| -%>
  <%= render(:partial => "board_entries/board_entry_comment", :locals=>{:comment=>comment}) %>
<% end -%>
</div>

<div class="comment_input_space">
  <form id="new_comment_form">
    <fieldset>
      <div class="row">
      <label for="board_entry_comment_contents">コメント</label>
      <%= hidden_field_tag("entry_id", entry.id) %>
      <%= hidden_field_tag("authenticity_token", form_authenticity_token) %>
      <%= text_area 'board_entry_comment', 'contents', :cols => 40, :rows => 5 %><br/>
      </div>
    </fieldset>
      <%= submit_tag "書き込み" %>
  </form>
</div>
