<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta name="viewport" content="width=320, initial-scale=1.0, user-scalable=yes, maximum-scale=2.0, minimum-scale=1.0, " />
  <link rel="shortcut icon" href="<%= controller.request.relative_url_root %>/favicon.ico" />
  <% title = @title ? "#{Admin::Setting.abbr_app_title} - #{@title}" : Admin::Setting.abbr_app_title %>
  <title><%= h title %></title>

  <%= stylesheet_link_tag("iui.css") %>
</head>
<body>
  <div class="toolbar">
    <h1 id="pageTitle"><%= h title %></h1>
  </div>

  <% form_tag({:controller => :platform, :action => :login, :only_path => false}, :id => 'login_form', :class => 'panel', :selected => 'true') do %>
    <h2><%= _('ログイン情報を入力して下さい。') %></h2>
    <fieldset>
      <div class="row">
        <label for="login_key"><%= h Admin::Setting.login_account %></label>
        <%= text_field 'login', 'key' %>
      </div>
      <div class="row">
        <label for="login_password"><%= _('パスワード') %></label>
        <%= password_field 'login', 'password' %>
      </div>
    </fieldset>
    <%= submit_tag _("ログイン") %></td>
    <!-- a class="whiteButton" href="#" type="submit"><%#= _('ログイン') %></a -->
  <% end -%>
</body>
</html>

