<ul id="main_menu" title="<%= _('メイン') %>" selected="true">
  <li class="group"><%= _('アンテナ') %></li>
  <% @system_antennas.each do |antenna| -%>
  <li><%= link_to(h("#{antenna.name}(#{antenna.count})"), :action => "entries_by_antenna", :antenna_id => antenna.antenna_type) %></li>
  <% end -%>
  <% @my_antennas.each do |antenna| -%>
  <li><%= link_to(h("#{antenna.name}(#{antenna.count})"), :action => "entries_by_antenna", :antenna_id => antenna.id) %></li>
  <% end -%>
  <li class="group"><%= _('公開された記事') %></li>
  <li><a href="#access_blogs"><%= _('最近の人気記事') %></a></li>
  <li><a href="#recent_blogs"><%= _('ユーザ') %></a></li>
  <li class="group"><%= _('グループカテゴリ毎の公開された記事') %></li>
  <% @recent_bbs.each do |bbs| -%>
  <li><a href="#<%= bbs[:id_name] %>"><%= bbs[:title_name] %></a></li>
  <% end -%>
</ul>

<ul id="access_blogs" title="<%= _('最近の人気記事') %>">
  <%= render :partial => 'entries_mobile_iphone', :locals => {:entries => @access_blogs[:pages]} %>
</ul>
<ul id="recent_blogs" title="<%= _('ユーザ') %>">
  <%= render :partial => 'entries_mobile_iphone', :locals => {:entries => @recent_blogs[:pages]} %>
</ul>
  <% @recent_bbs.each do |bbs| -%>
<ul id="<%= bbs[:id_name] %>" title="<%= bbs[:title_name] %>">
  <%= render :partial => 'entries_mobile_iphone', :locals => {:entries => bbs[:pages]} %>
</ul>
  <% end -%>
