<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta name="viewport" content="width=device-width; initial-scale=1.0; minimum-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
  <link rel="shortcut icon" href="<%= controller.request.relative_url_root %>/favicon.ico" />
  <% title = @title ? "#{Admin::Setting.abbr_app_title} - #{@title}" : Admin::Setting.abbr_app_title %>
  <title><%= h title %></title>

  <%= all_stylesheet_link_tag "style" -%>
  <%= stylesheet_link_tag("sprites/sprite.css") %>
  <%= stylesheet_link_tag("iui.css") %>
  <%= all_javascript_include_tag 'jquery' %>
  <script type="text/javascript">$j = jQuery.noConflict();</script>
  <%= javascript_include_tag 'application' %>
  <%= skip_javascript_include_tag 'skip_util' %>
  <%= javascript_include_tag 'iui' %>
</head>
<body>
  <div class="toolbar">
    <h1 id="pageTitle"><%= h title %></h1>
    <a id="backButton" class="button" href="#" ></a>
    <a class="button" onClick="location.href = '<%= url_for(:controller => "/platform", :action => :logout) %>';"><%= _('ログアウト') %></a>
  </div>
  <%= yield %>
</body>
</html>

